.menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 20;
}

.menu .menuBars {
    cursor: pointer;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 3rem;
    right: 4.25rem;
    z-index: 25;
}

.menu .menuBars .line {
    position: absolute;
    top: 1.25rem;
    width: 3rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--color-f);
    box-shadow: 0 0 15px rgba(25, 25, 25, 0.25);
}

.menu .menuBars .line::before {
    content: '';
    position: absolute;
    top: -1rem;
    width: 3rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--color-f);
    box-shadow: 0 0 15px rgba(25, 25, 25, 0.25);
}

.menu .menuBars .line::after {
    content: '';
    position: absolute;
    top: 1rem;
    width: 3rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--color-f);
    box-shadow: 0 0 15px rgba(25, 25, 25, 0.25);
}

.menu .menuBars:hover .line,
.menu .menuBars:hover .line::before,
.menu .menuBars:hover .line::after {
    background-color: var(--color-c);
}

.menu .menuBars.open .line,
.menu .menuBars.open .line::before,
.menu .menuBars.open .line::after {
    border-radius: 0;
    box-shadow: none;
}

.menu .menuBars.open .line {
    transform: rotateZ(-180deg);
}

.menu .menuBars.open .line::before {
    transform: rotateZ(-45deg) scaleX(0.75) translate(-1rem, -0.25rem);
}

.menu .menuBars.open .line::after {
    transform: rotateZ(45deg) scaleX(0.75) translate(-1rem, 0.25rem);
}

.menu .menuBars .line,
.menu .menuBars .line::before,
.menu .menuBars .line::after,
.menu .navMenu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu .navMenu {
    position: absolute;
    top: -2rem;
    right: -2rem;
    height: 100vh;
    width: 0;
    background-color: var(--color-dd);
    padding: 10rem 0 0 0;
    opacity: 0;
    z-index: 15;
}

.menu .navMenu.active {
    width: 15rem;
    opacity: 1;
}

.menu .navMenu .navMenuItems .cMenu {
    display: flex;
    text-align: center;
    position: relative;
}

.menu .navMenu .navMenuItems .cMenu a {
    width: 100%;
    padding: 2rem 0;
    color: var(--color-f);
}

.menu .navMenu .navMenuItems .cMenu a:hover {
    color: var(--color-c);
}

.menu .navMenu .navMenuItems .cMenu a::before {
	left: 0;
    height: 97%;
	border: 0.1rem solid var(--color-f);
	border-left: 0;
	border-right: 0;
}

.menu .navMenu .navMenuItems .cMenu a::after {
	right: 0;
    height: 100%;
}

.menu .navMenu .navMenuItems .cMenu a::before, 
.menu .navMenu .navMenuItems .cMenu a::after {
    content: '';
	position: absolute;
    top: 0;
	width: 0;
    z-index: -5;
}

.menu .navMenu .navMenuItems .cMenu a:hover::after {
    background-color: var(--color-f);
}

.menu .navMenu .navMenuItems .cMenu a:hover::before, 
.menu .navMenu .navMenuItems .cMenu a:hover::after {
	width: 100%;
}

.menu .navMenu .navMenuItems .cMenu a span {
    font-family: 'Helvetica Bold';
    font-size: 2.5rem;
    text-shadow: none;
    z-index: 10;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1366px) {
    .menu .menuBars {
        top: 1rem;
        right: 2rem;
    }

    .menu .navMenu {
        padding: 7rem 0 0 0; 
    }

    .menu .navMenu.active {
        width: 11rem;
    }

    .menu .navMenu .navMenuItems .cMenu a {
        padding: 1rem 0;
    }

    .menu .navMenu .navMenuItems .cMenu a span {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 768px) {
    .menu .menuBars {
        top: 0;
        right: 1rem;
        width: 2rem;
        height: 2rem;
    }

    .menu .menuBars .line {
        top: 0.9rem;
        width: 2rem;
        height: 0.25rem;
    }

    .menu .menuBars .line::before {
        top: -0.5rem;
        width: 2rem;
        height: 0.25rem;
    }

    .menu .menuBars .line::after {
        top: 0.5rem;
        width: 2rem;
        height: 0.25rem;
    }

    .menu .menuBars.open .line::before {
        transform: rotateZ(-45deg) scaleX(0.75) translate(-0.5rem, -0.35rem);
    }
    
    .menu .menuBars.open .line::after {
        transform: rotateZ(45deg) scaleX(0.75) translate(-0.5rem, 0.35rem);
    }

    .menu .navMenu {
        padding: 4.5rem 0 0 0; 
    }

    .menu .navMenu.active {
        width: 8rem;
    }

    .menu .navMenu .navMenuItems .cMenu a {
        padding: 0.75rem 0;
    }

    .menu .navMenu .navMenuItems .cMenu a span {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 480px) {
    .menu .menuBars {
        right: -1rem;
    }
    
    .menu .navMenu {
        background-color: var(--color-d);
    }
    
    .menu .navMenu.active {
        width: 100vw;
    }
}