.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 5;

  .about-logo,
  .about-container {
    padding: 2.5rem 0.5rem;
  }

  .about-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    img {
      width: 25rem;
      border-radius: 0.6rem;
      box-shadow: $boxShadow;
    }
  }

  .about-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-flow: column wrap;
    text-align: left;

    .about-me {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-flow: column wrap;

      .about-title {
        h1 {
          color: $colorF;
          font-family: $oleoScriptRegular;
          font-size: 2.5rem;
        }
      }

      .about-inner {
        p {
          color: $colorF;
          font-family: $helveticaRegular;
          font-size: 1rem;
          padding: 1rem 0;

          span {
            font-family: $oleoScriptRegular;
            font-size: 1.5rem;
          }
        }

        a {
          display: block;
          text-align: center;
          width: 10rem;
          color: $colorF;
          font-family: $helveticaBold;
          font-size: 1rem;
          background-color: $colorAA;
          border-radius: 0.6rem;
          padding: 1rem;
          margin: 0.5rem 0 1rem 0;

          &:hover {
            box-shadow: inset 0 0 0 2.5rem $colorEE;
          }
        }
      }
    }

    .education-work {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;

      .education,
      .work {
        width: 35rem;
      }

      .education {
        margin: 0 2.5rem 0 0;

        .education-title {
          h1 {
            color: $colorF;
            font-family: $oleoScriptRegular;
            font-size: 2.5rem;
          }
        }

        .education-list {
          .cEducation {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-flow: column wrap;
            min-height: 15rem;
            background-color: $colorAA;
            border-radius: 0.6rem;
            padding: 1rem;
            margin: 1rem 0 2rem 0;

            h1 {
              font-size: 1.25rem;
              font-family: $helveticaBold;
              color: $colorF;
              margin: 1rem 0 1rem 4rem;
            }

            p {
              font-size: 1rem;
              font-family: $helveticaRegular;
              color: $colorF;
              margin: 0.5rem 0;
            }

            svg {
              width: 3.25rem;
              height: 3.25rem;
              color: $colorF;
              position: absolute;
              top: 1rem;
              left: 1rem;
            }
          }
        }
      }

      .work {
        .work-title {
          h1 {
            color: $colorF;
            font-family: $oleoScriptRegular;
            font-size: 2.5rem;
          }
        }

        .work-list {
          .cWork {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-flow: column wrap;
            min-height: 15rem;
            background-color: $colorAA;
            border-radius: 0.6rem;
            padding: 1rem;
            margin: 1rem 0 2rem 0;

            h1 {
              font-size: 1.25rem;
              font-family: $helveticaBold;
              color: $colorF;
              margin: 1rem 0 1rem 4rem;
            }

            p {
              font-size: 1rem;
              font-family: $helveticaRegular;
              color: $colorF;
              margin: 0.5rem 0;
            }

            svg {
              width: 3.25rem;
              height: 3.25rem;
              color: $colorF;
              position: absolute;
              top: 1rem;
              left: 1rem;
            }
          }
        }
      }

      .swiper-horizontal > .swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal,
      .swiper-pagination-custom,
      .swiper-pagination-fraction {
        bottom: 0.25rem;
      }

      .swiper-pagination {
        .swiper-pagination-bullet {
          width: var(
            --swiper-pagination-bullet-width,
            var(--swiper-pagination-bullet-size, 1rem)
          );
          height: var(
            --swiper-pagination-bullet-height,
            var(--swiper-pagination-bullet-size, 1rem)
          );
          background-color: $colorF;
        }
      }

      .swiper-pagination {
        .swiper-pagination-bullet-active {
          background-color: $colorA;
        }
      }
    }
  }
}

//* MEDIA QUERIES
@media screen and (max-width: 1366px) {
  .about {
    flex-flow: column wrap;

    .about-logo {
      padding: 1.5rem 0.5rem;
      img {
        width: 20rem;
      }
    }

    .about-container {
      align-items: center;
      padding: 1rem 0.5rem 1.5rem 0.5rem;

      .about-me {
        width: 35rem;
      }

      .education-work {
        flex-flow: column wrap;
        margin: 1.5rem 0 1rem 0;

        .education {
          margin: 0 0 1rem 0;

          .education-list {
            .cEducation {
              min-height: 16rem;
            }
          }
        }

        .work {
          .work-list {
            .cWork {
              min-height: 16rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    .about-logo {
      img {
        width: 15rem;
      }
    }

    .about-container {
      padding: 1rem 0 1.5rem 0;

      .about-me {
        width: 27rem;
      }

      .education-work {
        .education {
          width: 27rem;
        }

        .work {
          width: 27rem;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .about {
    .about-logo {
      img {
        width: 12.5rem;
      }
    }

    .about-container {
      .about-me {
        width: 19rem;

        .about-title {
          h1 {
            font-size: 2rem;
          }
        }

        .about-inner {
          a {
            width: 7rem;
          }
        }
      }

      .education-work {
        .education {
          width: 19rem;

          .education-title {
            h1 {
              font-size: 2rem;
            }
          }

          .education-list {
            .cEducation {
              min-height: 18rem;

              h1 {
                font-size: 1rem;
                margin: 1.25rem 0 1rem 3.5rem;
              }
            }
          }
        }

        .work {
          width: 19rem;

          .work-title {
            h1 {
              font-size: 2rem;
            }
          }

          .work-list {
            .cWork {
              min-height: 18rem;

              h1 {
                font-size: 1rem;
                margin: 1.25rem 0 1rem 3.5rem;
              }
            }
          }
        }
      }
    }
  }
}
