.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 5;
}

.about .aboutLogo,
.about .aboutContainer {
  padding: 2.5rem 0.5rem;
}

.about .aboutLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.about .aboutLogo img {
  width: 25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px rgba(25, 25, 25, 0.25);
}

.about .aboutContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-flow: column wrap;
}

.about .aboutContainer .aboutMe {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-flow: column wrap;
}

.about .aboutContainer .aboutMe .aboutTitle h1 {
  color: var(--color-f);
  font-family: 'OleoScript Regular';
  font-size: 2.5rem;
}

.about .aboutContainer .aboutMe .aboutInner p {
  color: var(--color-f);
  font-family: 'Helvetica Regular';
  font-size: 1rem;
  padding: 1rem 0;
}

.about .aboutContainer .aboutMe .aboutInner p span {
  font-family: 'OleoScript Regular';
  font-size: 1.5rem;
}

.about .aboutContainer .aboutMe .aboutInner a {
  display: block;
  text-align: center;
  width: 10rem;
  color: var(--color-f);
  font-family: 'Helvetica Bold';
  font-size: 1rem;
  background-color: var(--color-aa);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem 0 1rem 0;
}

.about .aboutContainer .aboutMe .aboutInner a:hover {
  box-shadow: inset 0 0 0 2.5rem var(--color-ee);
}

.about .aboutContainer .educationWork {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.about .aboutContainer .educationWork .education {
  margin: 0 2.5rem 0 0;
}

.about .aboutContainer .educationWork .education,
.about .aboutContainer .educationWork .work {
  width: 35rem;
}

.about .aboutContainer .educationWork .education .educationTitle,
.about .aboutContainer .educationWork .work .workTitle {
  text-align: left;
}

.about .aboutContainer .educationWork .education .educationTitle h1,
.about .aboutContainer .educationWork .work .workTitle h1 {
  color: var(--color-f);
  font-family: 'OleoScript Regular';
  font-size: 2.5rem;
}

.about .aboutContainer .educationWork .education .educationList .cEducation,
.about .aboutContainer .educationWork .work .workList .cWork {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-flow: column wrap;
  min-height: 15rem;
  background-color: var(--color-aa);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
}

.about .aboutContainer .educationWork .education .educationList .cEducation svg,
.about .aboutContainer .educationWork .work .workList .cWork svg {
  width: 3.25rem;
  height: 3.25rem;
  color: var(--color-f);
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.about .aboutContainer .educationWork .education .educationList .cEducation h1,
.about .aboutContainer .educationWork .work .workList .cWork h1 {
  font-size: 1.25rem;
  font-family: 'Helvetica Bold';
  color: var(--color-f);
  margin: 1rem 0 1rem 4rem;
}

.about .aboutContainer .educationWork .education .educationList .cEducation p,
.about .aboutContainer .educationWork .work .workList .cWork p {
  font-size: 1rem;
  font-family: 'Helvetica Regular';
  color: var(--color-f);
  margin: 0.5rem 0;
}

.about
  .aboutContainer
  .educationWork
  .swiper-horizontal
  > .swiper-pagination-bullets,
.about
  .aboutContainer
  .educationWork
  .swiper-pagination-bullets.swiper-pagination-horizontal,
.about .aboutContainer .educationWork .swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0.25rem;
}

.about
  .aboutContainer
  .educationWork
  .swiper-pagination
  .swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 1rem)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 1rem)
  );
  background-color: var(--color-f);
}

.about
  .aboutContainer
  .educationWork
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: var(--color-a);
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1366px) {
  .about {
    flex-flow: column wrap;
  }

  .about .aboutLogo {
    padding: 1.5rem 0.5rem;
  }

  .about .aboutContainer {
    align-items: center;
    padding: 1rem 0.5rem 1.5rem 0.5rem;
  }

  .about .aboutLogo img {
    width: 20rem;
  }

  .about .aboutContainer .aboutMe {
    width: 35rem;
  }

  .about .aboutContainer .educationWork {
    flex-flow: column wrap;
    margin: 1.5rem 0 1rem 0;
  }

  .about .aboutContainer .educationWork .education {
    margin: 0 0 1rem 0;
  }

  .about .aboutContainer .educationWork .education .educationList .cEducation,
  .about .aboutContainer .educationWork .work .workList .cWork {
    min-height: 16rem;
  }
}

@media screen and (max-width: 768px) {
  .about .aboutLogo img {
    width: 15rem;
  }

  .about .aboutContainer {
    padding: 1rem 0 1.5rem 0;
  }

  .about .aboutContainer .aboutMe {
    width: 27rem;
  }

  .about .aboutContainer .educationWork .education,
  .about .aboutContainer .educationWork .work {
    width: 27rem;
  }
}

@media screen and (max-width: 480px) {
  .about .aboutLogo img {
    width: 12.5rem;
  }

  .about .aboutContainer .aboutMe {
    width: 19rem;
  }

  .about .aboutContainer .aboutMe .aboutTitle h1 {
    font-size: 2rem;
  }

  .about .aboutContainer .aboutMe .aboutInner a {
    width: 7rem;
  }

  .about .aboutContainer .educationWork .education,
  .about .aboutContainer .educationWork .work {
    width: 19rem;
  }

  .about .aboutContainer .educationWork .education .educationTitle h1,
  .about .aboutContainer .educationWork .work .workTitle h1 {
    font-size: 2rem;
  }

  .about .aboutContainer .educationWork .education .educationList .cEducation,
  .about .aboutContainer .educationWork .work .workList .cWork {
    min-height: 18rem;
  }

  .about
    .aboutContainer
    .educationWork
    .education
    .educationList
    .cEducation
    h1,
  .about .aboutContainer .educationWork .work .workList .cWork h1 {
    font-size: 1rem;
    margin: 1.25rem 0 1rem 3.5rem;
  }
}
