@font-face {
    font-family: 'OleoScript Regular';
    font-weight: normal;
    font-style: normal;
    src: local('OleoScript-Regular'), url('./assets/fonts/OleoScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Oblique';
    font-weight: italic;
    font-style: normal;
    src: local('Helvetica-Oblique'), url('./assets/fonts/Helvetica-Oblique.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Regular';
    font-weight: normal;
    font-style: normal;
    src: local('Helvetica'), url('./assets/fonts/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Bold';
    font-weight: bold;
    font-style: normal;
    src: local('Helvetica-Bold'), url('./assets/fonts/Helvetica-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-a: #f72585;
    --color-aa: rgba(247, 37, 133, 0.5);
    --color-b: #7209b7;
    --color-bb: rgba(114, 9, 183, 0.5);
    --color-c: #3a0ca3;
    --color-cc: rgba(58, 12, 163, 0.5);
    --color-d: #4361ee;
    --color-dd: rgba(67, 97, 238, 0.5);
    --color-e: #4cc9f0;
    --color-ee: rgba(76, 201, 240, 0.5);
    --color-f: #ffffff;
    --color-g: #000000;
    --color-h: #4d4c4c;
    --color-i: #888888;
}

html, body {
    line-height: 1;
    background-color:var(--color-f);
}

body {
    overflow: hidden;
}

ol, ul {
    list-style: none;
}

textarea, input {
    outline: none;
}

.hidden {
    display: none;
}

a {
    color: var(--color-h);
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a:link, a:visited, a:focus, a:active {
    color: var(--color-h);
    outline: none;
}

a:hover {
    color: var(--color-i);
}

a::before, a::after, span, svg, .btn {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a, h1, h2, h3, h4, h5, h6, p, span {
    text-shadow: 1px 1px 10px rgba(25, 25, 25, 0.75);
}

img {
    box-shadow: 0 0 15px rgba(25, 25, 25, 0.25);
}

/* a::before {
    content: '';
    margin: 0 auto;
    border-bottom: 0.15rem solid var(--color-f);
    position: absolute;
    bottom: -0.5rem;
    opacity: 0;
    left: 50%;
    right: 50%;
}

a:hover::before {
    opacity: 1;
    left: 0;
    right: 0;
} */

.App {
    background: rgb(247,37,133);
    background: linear-gradient(180deg, rgba(247,37,133,1) 0%, rgba(58,12,163,1) 50%, rgba(76,201,240,1) 100%);
    -webkit-animation: theme 21s linear infinite;
            animation: theme 21s linear infinite;
}

.App::after, 
.App::before {
    content: "";
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    height: 100vh;
    width: 100vmax;
    height: 100vmax;
    background: rgba(0, 0, 0, 0.05);
    -webkit-animation: background 90s linear infinite;
            animation: background 90s linear infinite;
}

.App:after {
    left: 15vw;
}

.App:before {
    right: 15vw;
    -webkit-animation-delay: -30s;
            animation-delay: -30s;
    animation-direction: reverse;
}

@-webkit-keyframes background {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1600px) {
    body {
        overflow-y: auto;
    }
}