//* FONTS
$oleoScriptRegular: 'OleoScript Regular';
$helveticaItalic: 'Helvetica Italic';
$helveticaRegular: 'Helvetica Regular';
$helveticaBold: 'Helvetica Bold';
$textShadow: 1px 1px 10px rgba(25, 25, 25, 0.75);
$boxShadow: 0 0 15px rgba(25, 25, 25, 0.25);

//* COLORS
$colorA: #f72585;
$colorAA: rgba(247, 37, 133, 0.5);
$colorB: #7209b7;
$colorBB: rgba(114, 9, 183, 0.5);
$colorC: #3a0ca3;
$colorCC: rgba(58, 12, 163, 0.5);
$colorD: #4361ee;
$colorDD: rgba(67, 97, 238, 0.5);
$colorE: #4cc9f0;
$colorEE: rgba(76, 201, 240, 0.5);
$colorF: #ffffff;
$colorG: #000000;
$colorH: #4d4c4c;
$colorI: #888888;

//* TRANSITION TIME
$transitionTime: all 0.3s;
